<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICountdownService" 
                         receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="65536000"
                         maxBufferPoolSize="524288" maxReceivedMessageSize="65536000">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsilb.moviatrafik.dk/Countdown/v2/CountdownService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountdownService"
                contract="Services.ICountdownService" name="BasicHttpBinding_ICountdownService" />
        </client>
    </system.serviceModel>
</configuration>